@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Righteous&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montagu+Slab:wght@100;300&family=Righteous&family=Secular+One&family=Titillium+Web:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montagu Slab', serif;
}
/* nav */
.nav {
  width: 80%;
  height: auto;
  align-items: center;
  margin: auto;
  padding: 50px 0px;
  text-decoration: none;
}
.nav-container {
  display: flex; 
  align-items: center;
   justify-content: space-between;
   text-decoration: none;
}

ul {
  text-decoration: none;
}

.ul-container {
  display: flex; 
   justify-content: right;
  align-items: center;
  text-decoration: none;
  
}
.nav-li {
  padding: 0px 40px;
  list-style: none;
  color: #5cdb95;
  font-size: 20px;
}

.menu-li {
  display: none;
  justify-content: left;
  color: #5cdb95;
  list-style: none;
  padding: 0px 40px;
}


.logo {
  font-family: 'Montagu Slab', serif;
font-weight: 100;
  font-size: 50px;
  text-align: left;
  align-items: center;
  padding: 0px 60px 0px 0px;
  color: #05386b;
  justify-content: left;
}
.highlight {
  color: #5cdb95;
}
.nav-btn {
  background-color: transparent;
  border: solid 1px;
  border-color: #5cdb95;
  border-radius: 8px;
  color: #5cdb95;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14;
  cursor: pointer;
  transition-duration: 0.5s;
}
.nav-btn:hover {
  background-color: #5cdb95;
  color: #f5f5f5;
  transition-duration: 0.5s;
}
.menu-btn {
  background-color: transparent;
  border: solid 1px;
  border-color: #5cdb95;
  border-radius: 20px;
  color: #5cdb95;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14;
  cursor: pointer;
}


/* nav */

/* footer */



.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.ul-main {
  list-style: none;
}

.footer {
  padding: 50px 0px;
  width: 100%;
  color: #05386b;
  background-color: #5cdb95;
  border-top-right-radius: 50px;

}

.footer-col {
  width: 25%;
  margin: auto;
  padding: 20px 20px;
}

.footer-col h4 {
  font-family: 'Montagu Slab', serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #05386b;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 300;
  color: #f5f5f5;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #f5f5f5;
  padding-left: 8px;
}

/* footer */

/* menu */

.menu {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 100px 0px 150px 0px;
}

.menu-box {
  text-align: center;
}

.menu-li {
  color:#05386b;
  list-style: none;
  padding: 20px 0px;
}



@media only screen and (max-width: 1000px) { 
  .nav-li {
    display: none;
  }
  
  .logo {
    font-size: 45px;
    padding: 0px;
    justify-content: left;
  }

  .menu-li {
    display: block;
  }

  .offer {
    height: 1200px;
  }

  .li-offer {
    margin: auto;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }

  i {
    padding: 0px 8px 0px 0px;
  }
}

 