/* nav */

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-li {
    padding: 30px 50px;
  list-style: none;
  margin: auto;
}

.nav-box {
    width: 100%;
    text-align: center;
}


/* review */

.divider{
    width:60%;
    color:#333f48;
    margin:auto;
    border-top:1px solid #379683;
    background-color: #edf5e1;
}
.review-list{
    width:50%;
    background-color: #edf5e1;
}
.review{
    width:100%;
    background-color: #edf5e1;
}
.review ,.review-user,.review-heading{
    margin:0px;
    background-color: #edf5e1;
}

.review-form{
  background-color: #edf5e1;
  color:#333f48;
    width:25%
}
.review-user{
    align-items:center;
    height:30px;
    background-color: #edf5e1;
}
.review-user img{
    height:100%;
    background-color: #edf5e1;
}
.review-heading{
    align-items:center;
    background-color: #edf5e1;
}
.review-heading div,.review-user img{
    /* margin-right:5px; */
    background-color: #edf5e1;

}
.star{
    color:gold !important;
    background-color: #edf5e1;

}
.add-review{
    flex-direction: column;
    color:#333f48;
    background-color: #edf5e1;
    
}

.btn-review{
    border:none;
    border-radius:5px;
    color:white;
    background:#00beb5;
    width:100px;
    height: 30px;
    margin-top:10px;
}
.add-review .review-star{
    font-size:20px;
    background-color: #edf5e1;
    color: #333f48;
}
.review-title {
    color: #333f48;
    background-color: #edf5e1; 
}

.review {
    background-color: #edf5e1;
    height: auto;
    width: 80%;
    color: #333f48;
    padding: 50px 0px 0px 0px;

}

.input {
    background-color: #ffffff;
}