/* nav 2 */
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@700&display=swap');

.nav2 {
    padding: 40px 0px 50px 0px;
    width: 85%;
    height: auto;
    position: relative;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.nav2-container {
display: flex;
justify-content: space-between;
width: 100%;
background-color: transparent;
}

.nav2-title {
    padding: 20% 0% 0% 0%;
    color: #5cdb95;
    font-size: 45px;
    font-family: 'Montagu Slab', serif;
    background-color: transparent;
    text-align: center;

}

.nav2-box {
width: 100%;
background-color: transparent;
}

.nav2-info {
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    text-align: center;
    background-color: transparent; 
}

.nav2-img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;

   
}

.nav2-btn {
    margin: 0px 0px 0px 0px;
    background-color: transparent;
    border: solid 1px;
    border-color: #8ee4af;
    border-radius: 8px;
    color: #8ee4af;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .nav2-btn:hover {
    background-color: #8ee4af;
    color: #ffffff;
    transition-duration: 0.5s;
  }

/* freelancer */

.nav3 {
    padding: 80px 0px 120px 0px;
    width: 85%;
    height: auto;
    position: relative;
    margin: auto;
    text-align: center;
}

.nav3-container {
display: flex;
justify-content: space-between;
width: 100%;
background-color: transparent;
}

.nav3-box {
width: 100%;
background-color: transparent;
}

.nav3-info {
    padding: 20% 0% 0% 0%;
    font-size: 26px;
    background-color: transparent;
    text-align: center;
}

.nav3-img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;

}


.nav3-btn {
    margin: 20px 0px 0px 0px;
    background-color: transparent;
    border: solid 1px;
    border-color: #8ee4af;
    border-radius: 8px;
    color: #8ee4af;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .nav3-btn:hover {
    background-color: #8ee4af;
    color: #ffffff;
    transition-duration: 0.5s;
  }

  /* jobs */


  .nav4 {
    padding: 40px 0px 50px 0px;
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    text-align: center;
}

.nav4-container {
display: flex;
justify-content: space-between;
width: 100%;
background-color: transparent;
}

.nav4-box {
width: 100%;
background-color: transparent;
}

.nav4-info {
    padding: 150px 0px 0px 0px;
    font-size: 24px;
    background-color: transparent;
    text-align: center;

}

.nav4-img {
    width: 95%;
    height: 95%;
    background-color: transparent;
    text-align: center;

}


.nav4-btn {
    margin: 20px 0px 0px 0px;
    background-color: transparent;
    border: solid 1px;
    border-color: #8ee4af;
    border-radius: 8px;
    color: #8ee4af;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .nav4-btn:hover {
    background-color: #8ee4af;
    color: #ffffff;
    transition-duration: 0.5s;
  }


  /* offer */

  .nav5 {
    padding: 0px 0px 200px 0px;
    width: 90%;
    height: auto;
    position: relative;
    margin: auto;
    text-align: center;
  
}

.nav5-container {
display: flex;
justify-content: space-between;
width: 100%;
background-color: transparent;
}

.nav5-box {
    padding: 0px 20px 100px 20px;
width: 100%;

}

.nav5-info {
    font-size: 24px;
    background-color: transparent;
    text-align: center;

}

.nav5-img {
    width: 80%;
    height: 100%;
    background-color: transparent;
    text-align: center;

}



/* promotion */




.nav6-title {
    padding: 60px 0px 10px 0px;
    color: #8ee4af;
    font-size: 45px;
    background-color: transparent;
    text-align: center;

}

.nav6 {
    padding: 100px 0px 100px 0px;
    width: 90%;
    height: auto;
    position: relative;
    margin: auto;
    text-align: center;
}

.nav6-container {
display: flex;
justify-content: space-between;
width: 100%;
background-color: transparent;
}

.nav6-box {
width: 100%;
background-color: transparent;
}

.nav6-info {
    padding: 30px 0px 0px 0px;
    font-size: 35px;
    background-color: transparent;
}

.nav6-img {
    width: 85%;
    height: 85%;
    background-color: transparent;
    text-align: center;

}




@media only screen and (max-width: 700px) {

    .nav6-container {
        display: block;
        width: 100%;
        justify-content: center;
        }

        .nav5-container {
        display: block;
        width: 100%;
        justify-content: center;

        }

        .nav4-container {
        display: block;
        width: 100%;
        justify-content: center;


        }

        .nav6 {
            margin: auto;
        }

        .nav3 {
            margin: auto;
        }

        .nav2 {
            margin: auto;
        }

        .nav2-btn {
            background-color: #ffffff
    ;
        }

.nav4-btn {
    background-color: #ffffff;

}

        .nav4 {
            margin: auto;
        }

        .nav3-container {
            display: block;
            width: 100%;
            justify-content: center;

            }

            .nav2-container {
                display: block;
                width: 100%;
                justify-content: center;

                }

                .nav5 {
                    margin: auto;
                    width: 80%;
                    padding: 80px 0px 0px 0px;
                }  

                
                
    .nav2-box {
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .nav3-box {
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .nav4-box {
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .nav5-box {
        padding: 50px 0px;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .nav6-box {
        padding: 50px 0px;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
  }