.login {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 100px 0px 150px 0px;
}

.login-form {
  align-items: center;
  text-align: center;
}

.login-title {
  padding: 20px 0px;
  color: #b2bbad;
}

.login-box {
  text-align: center;
}

.login-container {
display: flex;
width: 100%;
}

.input {
  width: 70%;
  height: 50px;
  margin: 6px;
  border-radius: 14px;
  border-width: 0px;
  background-color: #edf5e1;
  color: #05386b;
  }
  
  .signup-img {
    height: auto;
    width: 76.5%;
  }
  
  .sign-btn {
    background-color:  #05386b;
    border-radius: 14px;
    color: #ffffff;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 14;
    margin: 28px 0px 0px 0px;
    border: none;
  }
  
  .log-btn {
    background-color: #5cdb95;
    border-radius: 14px;
    color: #ffffff;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 14;
    border: none;
  }





  @media only screen and (max-width: 700px) {

    .login-container {
      display: block;
      width: 100%;
      }

  }