.register {
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 100px 0px 150px 0px;
}

.register-form {
  align-items: center;
  text-align: center;
}

.register-title {
  padding: 20px 0px;
  color: #b2bbad;
}

.register-box {
  text-align: center;
}

.register-container {
display: flex;
width: 100%;
}

.register-input {
    width: 70%;
    height: 50px;
    margin: 6px;
    border-radius: 14px;
    border-width: 0px;
    background-color: #edf5e1;
    color: #05386b;
  }
  
  .register-img {
    height: auto;
    width: 76.5%;
  }
  
  .register-btn2 {
    background-color: #05386b;
    border-radius: 14px;
    color: #ffffff;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 14;
    margin: auto;
    border: none;
  }
  
  .register-btn1 {
    background-color: #5cdb95;
    border-radius: 14px;
    color: #ffffff;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 14;
    border: none;
  }



  @media only screen and (max-width: 700px) {

    .register-container {
      display: block;
      width: 100%;
      }

  }

